.footer{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    h1{
        a{
            display: block;
            width: 171px;
            height: 36px;
            margin: 20px;
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;
            background: url(../images/footerlogo.png) no-repeat;
        }
    }
    li{
        line-height: 20px;
    }
    a{
        color: $red;
        &:hover{
            color: $blue;
            font-weight: bold;
        }
    }
}