// color system

$blueFB: #4460a0;
$blueTwitter: #00aaec;
$CaribbeanGreen: #00cc99;
$whiteSmoke: #f0f0f0;
$gray86: #dbdbdb;
$red: #ff0000;
$blue: #0000ff;
$white: #fff;
$black: #000;

// font-size

$font-l: 50px;
$font-m: 20px;
$font-s: 14px;